@CHARSET "UTF-8";

#header {
	background-color: red;
	width: 100%;
}

#headernav ul li {
	list-style: none;
	color: red;
	background-color: red;
	float: right;
	line-height: 30px;
	vertical-align: middle;
	text-align: center;
}

#headernav ul li a {
	color: white;
}